{% extends "layout.html" %}


{% block body%}



    <div class="container my-5">

        <div class="p-5 text-center bg-body-light rounded-3">
            <h1 class="text-body-emphasis">Project Abstract</h1>
            <p class="lead">
                Censorable scenes featuring smoking, heavy drinking, and other content are prevalent in modern movies. However, manually identifying and labeling these scenes throughout an entire video can be a time-consuming task for editors. In this project, we propose an automated statutory warning generator that utilizes YOLOv5, a state-of-the-art object detection model, to accurately detect and label statutory contents within videos. By leveraging the speed and efficiency of YOLOv5, our system significantly reduces the time required for movie editing while ensuring the inclusion of appropriate statutory alerts.
            </p>
          </div>
      </div>



    <section>
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4">Project Members</h3>

          </div>
        </div>
      
        <div class="row text-center mt-5">
          <div class="col-md-3 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
              <img src="https://lh3.googleusercontent.com/a/ACg8ocJEXbzmAi4nyLnPCaCaWYFSCau60y9jNBlTTy7I-o6sNf4=s360-c-no"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">R S Nandhu Krishna</h5>


          </div>
          <div class="col-md-3 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
              <img src="https://lh3.googleusercontent.com/a-/ALV-UjXRpiLAy_sRhwBc7pSXbQSXil48sUlhqleD5Fh2ZcXB-g=s340-p-k-rw-no"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Soorya S Nair</h5>

            
          </div>
          <div class="col-md-3 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
              <img src="https://lh3.googleusercontent.com/a-/ALV-UjUetMGQRRqEBjKmPGUIRcLJ7kPcrIIItnLBlM7ivecRmA=s340-p-k-rw-no"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Mithun D Nair</h5>


          </div>
          <div class="col-md-3 mb-0 ">
            <div class="d-flex justify-content-center mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Sarath S</h5>


       
          </div>
        </div>
      </section>

      {% endblock %}